

<footer class="footer">
    <div class="container">
        <div class="row">


            <div class="footer-col">
                <h4>Lorem ipsum Lorem ipsum</h4>
                <ul class="footer-contact">
                    <li> <i class="bi bi-geo-alt-fill"></i> Lorem ipsum</li>
                    <li><i class="bi bi-telephone-inbound"></i> Lorem ipsum</li>
                    <li><i class="bi bi-telephone-inbound"></i> Lorem ipsum</li>
                    <li><i class="bi bi-envelope"></i> Lorem ipsum</li>
                </ul>
            </div>


            <div class="footer-col">
                <h4>Lorem ipsum</h4>
                <ul class="footer-links">
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </div>


            <div class="footer-col">
                <h4>Lorem ipsum</h4>
                <ul class="footer-links">
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
                <h5>FOLLOW US</h5>
                <div class="social-icons">
                    <div class="icon-box"><i class="fab fa-facebook-f"></i></div>
                    <div class="icon-box"><i class="fab fa-twitter"></i></div>
                    <div class="icon-box"><i class="fab fa-instagram"></i></div>
                    <div class="icon-box"><i class="fab fa-linkedin"></i></div>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <p>
                Copyright 2018 Lorem ipsum. All rights reserved.
                <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a>
            </p>
        </div>
    </div>
</footer>